/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
  padding: 20px;
}

h1{
  font-size: 700;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}



.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul {
display: flex;
list-style: none;
justify-content: center;
padding-bottom: 30px ;
width: 100%;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}



header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

love.png{
width: 100%;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  display: inline-flex;
}

form div{
  display: flex;
}

form label {
  font-weight: bold;
  width: 200px;
  display: inline-block;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;  
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  
  section#join{
    display:flex
  }

  section#join img{
    padding-right: 20px;
    width: 50%;
  }

 body {
    
    padding: 0;
   
  }
 

  header {
    padding: 20px 20px 0 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  header nav ul {
   
    padding-bottom: 20px ;
    
    }

    
  
    /*---------About section------*/
   section#about div{
     display: flex;
   }
   section#about p{
     display: flex;
     width: 50%;
     justify-content: end;
   }

   section#about img{
    padding-right: 20px;
    width: 20%;
  }
  
   /*---------Download section------*/
   
   section#download{
    display:flex;
    justify-content: left;
   }

   section#download div{
    padding-top: 5%;
   }

  section#download img{
     width: 50%;
   }
 

 /*------------Blog section---------*/

 .blogtwocolumn {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
justify-content: space-between;
 }

 .image1 {
justify-content: left;
width: 49%;
padding-top: 20px;
 }

 .image2 {
  justify-content: right;
  width: 49%;
  padding-top: 20px;
   }

.image3 {
    justify-content: left;
    width: 49%;
    padding-top: 20px;
     }

  .image4 {
    justify-content: right;
    width: 49%;
    padding-top: 20px;
   }


 }

